.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100vh;

}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    width: 50%;

    margin-bottom: 20px;
}

.out {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    column-gap: 20px;

    width: 50%;
    height: 100px;

    padding: 5px;

    font-size: 40px;

    color: gray;

    border: 2px dashed gray;

    overflow-y: scroll;

}

p {
    width: 20px;
    height: fit-content;
    text-align: center;
    margin: 0;

    border: 1px solid black;
}
